body{
    background-color: #0f121f;
    background-image: url(/static/stars.png);
    background-repeat: no-repeat;
    /*color: #fff;*/
    color: rgb(123, 168, 204);
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: rgb(129, 16, 16);
    text-decoration: none;
}
